// mixin pour les responsives //
@mixin respond-to-ultra-small {
    @media (max-width: 430px) {
        @content;
    }
}
@mixin respond-to-small {
    @media (min-width: 430px) and (max-width: 768px) {
      @content;
    }
  }

@mixin respond-to-medium {
    @media (min-width: 768px) and (max-width: 1441px) {
      @content;
    }
  }

  
  @mixin respond-to-large {
    @media (min-width: 2000px ) {
        @content;
    }
  }
  
 
  ///////////////////////////////////////
  .banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-image: none;
        &__video {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
                
                video {
                    position: relative;
                }
       
        }
        img {
            display: block;
            position: absolute; /* permet au logo de chevaucher la div banner */
            top: 20px; /* Ajustez la position verticale du logo */
            left: 400px; /* Ajustez la position horizontale du logo */
            bottom: 150px;
            width: 45%;
            margin: auto;
            z-index: 10; /* Assure que le logo est au-dessus de la vidéo */
                @include respond-to-ultra-small {
                    bottom: 80px;
                    left: 80px;
                    width: 180px;
                }
                @include respond-to-small {
                    bottom: 50px;
                    left: 250px;
                }
                @include respond-to-large {
                    bottom: 200px;
                }
        }
        
        
        
    }
    .oscar-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        img {
            width: 30%;
            height: 30%;
        }
        h3 {
            background-image: url("./assets/images/orange_characters_bg.png");
            background-size: contain;
            
        }
    }
    /// rotation des fleurs ///
    
     //Keyframe de rotation des fleurs ////
    @keyframes rotate {
        from {
      transform: rotate(0deg);
        }
        to {
      transform: rotate(360deg);
        }
    }
    .story {
        &__article::after {
            animation: rotate 10s linear infinite;
        }
        h2::after {
            animation: rotate 10s linear infinite;
        }
    }

    //Fade in des sections du site //
  // Keyframe pour le fade in des sections///
  @keyframes fadeIn {
        from {
      opacity: 0;
        }
        to {
      opacity: 1;
        }
    }
    .fade-in-section {
        opacity: 0;
        transition: opacity 1s ease-in;
            &.visible {
            opacity: 1;
            animation: fadeIn 1s ease-in;
            }
      }