// mixin pour les responsives //
@mixin respond-to-ultra-small {
    @media (max-width: 430px) {
        @content;
    }
}
@mixin respond-to-small {
    @media (min-width: 430px) and (max-width: 768px) {
      @content;
    }
  }

@mixin respond-to-medium {
    @media (min-width: 768px) and (max-width: 1441px) {
      @content;
    }
  }

  
  @mixin respond-to-large {
    @media (min-width: 2000px ) {
        @content;
    }
  }
  
  
  ///////////////////////////////////////
  
   /// rotation des fleurs ///
    
     //Keyframe de rotation des fleurs ////
     @keyframes rotate {
        from {
      transform: rotate(0deg);
        }
        to {
      transform: rotate(360deg);
        }
    }
    .story {
        &__article::after {
            animation: rotate 10s linear infinite;
        }
        h2::after {
            animation: rotate 10s linear infinite;
        }
    }

    // keyframe de flottement du titre //
    @keyframes float {
        0% {
            transform: translate(0%, 0%) translateX(0);
        }
        25% {
            transform: translate(-5%, -5%) translateY(-10px) translateX(30px);
        }
        50% {
            transform: translate(-5%, -5%) translateY(0) translateX(20px); /* Ajustez la distance de flottement */
        }
        75% {
            transform: translate(-5%, -5%) translateY(-10px) translateX(-10px);
        }
        100% {
            transform: translate(0%, 0%) translateX(0);
        }
    }
    ///////////////////////////////////
    
    // banniere avec Video en background //
  .banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-image: none;
        &__video {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
                
                video {
                    position: relative;
                }
       
        }
        img {
            display: block;
            position: absolute; /* permet au logo de chevaucher la div banner */
            top: 20px; /* Ajustez la position verticale du logo */
            left: 400px; /* Ajustez la position horizontale du logo */
            bottom: 150px;
            width: 45%;
            margin: auto;
            transform: translate(-100%, -100%);
            z-index: 10; /* Assure que le logo est au-dessus de la vidéo */
            animation: float 6s ease-in-out infinite; /* Ajoutez l'animation de flottement */
                @include respond-to-ultra-small {
                    bottom: 80px;
                    left: 80px;
                    width: 180px;
                }
                @include respond-to-small {
                    bottom: 50px;
                    left: 250px;
                }
                @include respond-to-large {
                    bottom: 200px;
                }
        }
        
        
        
    }
    // Secion des oscars ajouter pour l'evenement spécial //
    .oscar-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 90%;
        
        img {
            width: 30%;
            height: 30%;
        }
        h3 {
            background-image: url("./assets/images/orange_characters_bg.png");
            background-size: cover;
            background-position: center; 
        }
    }
   ////////////////////////////////////
   .slide-in {
        opacity: 0;
        transform: translateY(80px);
        transition: transform 1s ease-out, opacity 1s ease-out;
    }
    .before.appear {
        transition-delay: 0s;
        opacity: 1;
        transform: translateY(0);
    }
    .after.appear {
        transition-delay: 1.5s;
        opacity: 1;
        transform: translateY(0);
    }

    .appear {
        opacity: 1;
        transform: translateY(0);
    }

    //Fade in des sections du site //
  
    @keyframes fade-in-section {
        from {
            opacity: 0;
            transform: translateY(180px); // les sections arrivent par le haut
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    @keyframes fade-in-section-element {
        from {
            opacity: 1;
            transform: translateY(120px); // les elements des sections arrivent par le bas
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    .fade__in__section {
        opacity: 0;
        animation: fade-in-section 1s ease forwards;
            &__element {
                opacity: 0;
                transform: translateY(125px); /* Décalage initial vers le bas */
                transition: opacity 1s ease; //transform 0.5s ease;
                //transform: translateY(0);
                animation: fade-in-section-element 2s ease forwards;
            }
        
        }
    /*.fade__in__section.appear .fade__in__section__element {
        opacity: 1;
        
    }*/


    // carousel avec swiper

    /* Style pour chaque diapositive */
    .swiper-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        h3 {
            flex: 0 0 auto; /* Empêche le titre de se développer */
            margin-bottom: 10px; /* Espacement entre le titre et le contenu */
        }
    }    
    .swiper-slide {
        text-align: center;
        figure {
            margin: 0;
            }
        img {
            max-width: 100%; /* l'image ne dépasse pas la largeur de son conteneur */
            }
    }

