// mixin pour les responsives //
@mixin respond-to-ultra-small {
    @media (max-width: 430px) {
        @content;
    }
}
@mixin respond-to-small {
    @media (min-width: 430px) and (max-width: 768px) {
      @content;
    }
  }

@mixin respond-to-medium {
    @media (min-width: 768px) and (max-width: 1441px) {
      @content;
    }
  }

  
@mixin respond-to-large {
    @media (min-width: 2000px ) {
        @content;
    }
  }
  
  
  
  ///////////////////////////////////////
 
   /// rotation des fleurs ///
    
     //Keyframe de rotation des fleurs ////
     @keyframes rotate {
        from {
      transform: rotate(0deg);
        }
        to {
      transform: rotate(360deg);
        }
    }

    // utilisation du keyframe rotate pour les fleurs sur le site
    .story {
        &__article::after {
            animation: rotate 10s linear infinite;
            @include respond-to-ultra-small {
                display: none;
            }
        }
        h2::after {
            animation: rotate 10s linear infinite;
            @include respond-to-ultra-small {
                display: none;
            }
        }
    }
    .studio {
        h2::before {
            animation: rotate 10s linear infinite;
        }
        h2::after {
            animation: rotate 8s linear infinite;
        }
    }
    // fleur du footer 
    .site-footer::before {
        animation: rotate 10s linear infinite;
    }

    .site-footer::after {
        animation: rotate 10s linear infinite; 
    }

    .site-footer {
        ul::after {
            animation: rotate 10s linear infinite;
        }
    }
    // keyframe de flottement //
    @keyframes float {
        0% {
            transform: translate(0, 0);
        }
        25% {
            transform: translate(-3%, -3%);
        }
        75% {
            transform: translate(3%, -3%);
        }
        100% {
            transform: translate(0, 0);
        }
    }
    ///////////////////////////////////
    // header du site en burger //
    // Variables
    $background-color: #FFD5A2;
    $text-color: #111111;
    $burger-width: 25px;
    $burger-height: 3px;
    $breakpoint: 768px;

    // Style pour le menu burger //

    //keyframe pour le fade-out du menu burger
    @keyframes fade-in-menu {
        from {
            opacity: 0;
            transform: translateY(-100px); // le menu arrive par le haut
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .site-header {
        background-color: $background-color;
        display: flex;
        position: relative;
        @include respond-to-ultra-small {
            width: 100%;
            height: 60px;
        }
        @include respond-to-small {
            height: 80px;
        }
    }
    .site-title {
        margin-left: 35%;
        @include respond-to-ultra-small {
            display: none;
        }
        @include respond-to-small {
            display: none;
        }
    }
    .main-navigation {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0px;
        margin: auto;
    
        .menu-toggle {
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 5px;
            
    
            .line {
                width: $burger-width;
                height: $burger-height;
                background-color: $text-color;
                position: absolute;
                transition: transform 0.3s, opacity 0.3s;
                gap: 5px;
                    &:nth-child(1) { // mise en forme du burger 
                        top: 35%;
                    }
                    &.line:nth-child(2) {
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &:nth-child(3) {
                        bottom: 30%;
                    }
            }

            &.open { // classe ajouter en js pour la transformation du burger en croix
                .line:first-child {
                    transform: rotate(45deg);
                    top: 50%; 
                }
                .line:nth-child(2) {
                    opacity: 0;
                }
                .line:last-child {
                    transform: rotate(-45deg);
                    top: 50%;
                }
            }
        }

       
        // Menu deplié

        .menu {
            display: none;
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                padding: 5px 0;
    
                a {
                    color: $text-color;
                    text-decoration: none;
                    font-size: 64px;
                    @include respond-to-ultra-small {
                        font-size: 30px;
                    }
                    @include respond-to-small {
                        font-size: 40px;
                    }
                }
                a:hover {
                    text-shadow: 0.05em 0.05em 0.2em #FF5C00; // au passage de la souris il y a un reflet orange flouté sur les liens
                }
                
            }
            &__logo { // image dans le menu deroulant
                width: 10%;
                @include respond-to-ultra-small {
                    width: 30%;
                }
                @include respond-to-small {
                    width: 30%;
                }
            }
            &__whiteFlower { // fleur blanche qui tourne
                width: 10%;
                position: relative;
                bottom: 450px;
                left: 450px;
                animation: rotate 10s linear infinite;
                @include respond-to-ultra-small {
                    display: none;
                }
                @include respond-to-small {
                    display: none;
                }
            }
            &__hibiscus { // fleur en bas a droite du menu
                width: 30%;
                position: relative;
                left: 500px;
                bottom: 300px;
                @include respond-to-ultra-small {
                    display: none;
                }
                @include respond-to-small {
                    display: none;
                }
            }
            &__jaakuna { 
                width: 10%;
                position: relative;
                bottom: 800px;
                left: 400px;
                animation: float 2s ease-in-out infinite; // faire flotter le personnage
                @include respond-to-ultra-small {
                    bottom: 355px;
                    left: -100px;
                    width: 15%;
                }
                @include respond-to-small {
                    bottom: 355px;
                    left: -180px;
                    width: 15%;
                }
            }
            &__kawaneko { 
                width: 10%;
                position: relative;
                bottom: 1100px;
                right: 380px;
                animation: float 4s ease-in-out infinite; // faire flotter le personnage
                @include respond-to-ultra-small {
                    bottom: 210px;
                    left: 80px;
                    width: 15%;
                }
                @include respond-to-small {
                    bottom: 355px;
                    left: 190px;
                    width: 15%;
                }
            }
            &__orenjiiro { 
                width: 8%;
                position: relative;
                bottom: 730px;
                right: 520px;
                animation: float 6s ease-in-out infinite; // faire flotter le personnage
                @include respond-to-ultra-small {
                    bottom: -130px;
                    left: -120px;
                    width: 15%;
                }
                @include respond-to-small {
                    bottom: 235px;
                    left: -180px;
                    width: 15%;
                }
            }
            &__orangeFlower { 
                width: 5%;
                position: relative;
                bottom: 1100px;
                right: 420px;
                animation: rotate 10s linear infinite; // rotation de la fleur
                @include respond-to-ultra-small {
                    bottom: 150px;
                    left: 0;
                    width: 25%;
                }
                @include respond-to-small {
                    bottom: 255px;
                    left: 0;
                    width: 30%;
                }
            }
            &__orchid { 
                width: 5%;
                position: relative;
                bottom: 1450px;
                right: 680px;
                @include respond-to-ultra-small {
                    display: none;
                }
                @include respond-to-small {
                    display: none;
                }
            }
            &.active {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 100%; // il se deploie juste sous le header
                background-color: #FFF5E9;
                padding: 0px;
                width: 100%; // toute la largeur de la page
                height: 820px;
                animation: fade-in-menu 1s ease-in-out forwards; // apparition en fade in du menu deployé grace au keyframe fade-in-menu
                @include respond-to-ultra-small {
                    text-align: center;
                }
            }
            
        }
    }
    ///////////////////////////////////////
    // banniere avec Video en background //
  .banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-image: url('assets/images/banner.png') no-repeat center; // image en fallback si la vidéo n'est pas lu par le navigateur / en mobile la vidéo est desactive donc il y aura cette image en fond 

        &__video {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
                
                video {
                    position: relative; 
                    @include respond-to-ultra-small {
                        display: none;
                    }       
                }
    
        }
        img {
            display: block;
            position: absolute; /* permet au logo de chevaucher la div banner */
            top: 20px; /* Ajustez la position verticale du logo */
            left: 400px; /* Ajustez la position horizontale du logo */
            bottom: 150px;
            width: 45%;
            margin: auto;
            z-index: 10; /* Assure que le logo est au-dessus de la vidéo */
            animation: float 5s ease-in-out infinite; /* Ajoutez l'animation de flottement */
                @include respond-to-ultra-small {
                    bottom: 80px;
                    left: 20%;
                    width: 60%;
                }
                @include respond-to-small {
                    bottom: 50px;
                    left: 250px;
                }
                @include respond-to-large {
                    bottom: 200px;
                }
        }
        @include respond-to-small {
            width: 100%;
        }
               
    }

    // Secion Nomination aux oscars ajouté comme évenement spécial //
    .oscar-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 90%;
        @include respond-to-ultra-small {
            flex-wrap: wrap;
            justify-content: space-between;
            margin: auto;
        }
        @include respond-to-small {
            flex-wrap: wrap;
            justify-content: space-between;
            margin: auto; 
        }
        
        img {
            width: 30%;
            height: 30%;
            @include respond-to-ultra-small {
                width: 90%;
                height: 90%;
                margin: auto; // centrer l'image en mobile
            }
            @include respond-to-small {
                width: 70%;
                height: 70%;
                margin: auto;
            }
        }
        h3 {
            background-image: url("./assets/images/orange_oscar_bg.png");
            background-size: contain;
            background-position: center; 
            font-size: 30px;
            padding: 3em 2em;
            @include respond-to-ultra-small {
                font-size: 15px;
            }
        }
    }

   // Effet Slide-in sur titre //

    // Pour effet slide du titre possible 
    h1 h2 h3 {
    overflow: hidden; // Pour contenir les éléments flottants - ici les titres 
    }

   .slide-on-scroll {
    /* Définit une opacité initiale de 0 pour les éléments */
    opacity: 0;
    /* Definit l'endroit du depart de l'animation - ici 120px en bas de son point d'origine*/
    transform: translateY(120px);
    /* Définit une transition d'opacité d'une secondes et de transformation d'une seconde = translateY*/
    transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
        &.slide-on-scroll-delay { // classe supplémentaire pour la deuxieme partie du titre de la section studio
            transform: translateY(120px);
            transition: opacity 2s ease-in-out, transform 1s ease-in-out; // la seconde partie du titre de la section studio arrive 1s après la premiere partie
        }
        &.is-visible {
            display: block; // le slide ne fonctionne pas avec les elements inline
            position: relative;
            overflow: hidden;
            opacity: 1;
            transform: translateY(0); // le titre revient a sa position initial quand il prend la classe "is-visible" 
        }
    }

    .studio { // pour regler l'affichage du titre de la section studio par rapport a la position des spans - ici positionner cote a cote = "Studio koukaki"
        h2 {
            display: flex;
            flex-direction: row; // - ici positionner cote a cote 
            align-items: center;
            justify-content: center;
            gap: 10px;
            @include respond-to-ultra-small {
                font-size: 20px;
            }
        }
        h2::before {
            @include respond-to-ultra-small {
                display: none;
            }
        }
        h2::after {
            @include respond-to-ultra-small {
                display: none;
            }
        }
    }
   

    // Fade in des sections du site //
  
    @keyframes fade-in-section {
        from {
            opacity: 0;
            transform: translateY(180px); // les sections arrivent par le bas
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .fade__in__section {
        opacity: 0;
        animation: fade-in-section 1s ease forwards;
        }
    

    // carousel avec swiper

    /* Style pour chaque diapositive */
    .swiper-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        h3 {
            flex: 0 0 auto; 
            margin-bottom: 10px; /* Espacement entre le titre et les sliders */
            @include respond-to-ultra-small {
                font-size: 18px;
            }
            
        }
            .swiper-wrapper {
                @include respond-to-small {
                    width: 80%;
                }
                @include respond-to-ultra-small {
                    width: 80%;
                }
            }
    }    
    .swiper-slide {
        text-align: center;
        figure {
            margin: 0;
            }
        img {
            max-width: 100%; /* l'image ne dépasse pas la largeur de son conteneur */
            }
    }

    // Animations des nuages au scroll de la page 

    .story {
        h2 {
            @include respond-to-ultra-small {
                font-size: 25px;
            }
        }
        &__article {
            p {
                @include respond-to-ultra-small {
                    font-size: 20px;
                }
            }
        }
        &__place {
            overflow: hidden;
            //position: fixed;
            z-index: -1;
            background-image: url("./assets/images/Studio_Koukaki-image_place.png") !important; // integrer le fond sans nuage 
                h3 {
                    @include respond-to-ultra-small {
                        font-size: 20px;
                        position: absolute;
                        bottom: 225px;
                        left: 30px;
                    }
                }
                p {
                    @include respond-to-ultra-small {
                        font-size: 12px;
                        position: absolute;
                        bottom: -225px;
                    }
                }
        }
        &__bigCloud {
            width: 20%;
            height: auto;
            position: relative;
            z-index: 0;
            bottom: 630px;
            left: 450px;
            filter: blur(9px); // flouter l'image pour faire plus nuage
            @include respond-to-ultra-small {
                display: none;
            }
            @include respond-to-small {
                display: none;
            }
        }
        &__littleCloud {
            width: 10%;
            height: auto;
            position: relative;
            z-index: 0;
            bottom: 550px;
            left: 150px;
            filter: blur(7px); // flouter l'image pour faire plus nuage
            @include respond-to-ultra-small {
                display: none;
            }
        }
    }


