@charset "UTF-8";
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.story__article::after {
  animation: rotate 10s linear infinite;
}
.story h2::after {
  animation: rotate 10s linear infinite;
}

@keyframes float {
  0% {
    transform: translate(0%, 0%) translateX(0);
  }
  25% {
    transform: translate(-5%, -5%) translateY(-10px) translateX(30px);
  }
  50% {
    transform: translate(-5%, -5%) translateY(0) translateX(20px); /* Ajustez la distance de flottement */
  }
  75% {
    transform: translate(-5%, -5%) translateY(-10px) translateX(-10px);
  }
  100% {
    transform: translate(0%, 0%) translateX(0);
  }
}
.banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-image: none;
}
.banner__video {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner__video video {
  position: relative;
}
.banner img {
  display: block;
  position: absolute; /* permet au logo de chevaucher la div banner */
  top: 20px; /* Ajustez la position verticale du logo */
  left: 400px; /* Ajustez la position horizontale du logo */
  bottom: 150px;
  width: 45%;
  margin: auto;
  transform: translate(-100%, -100%);
  z-index: 10; /* Assure que le logo est au-dessus de la vidéo */
  animation: float 6s ease-in-out infinite; /* Ajoutez l'animation de flottement */
}
@media (max-width: 430px) {
  .banner img {
    bottom: 80px;
    left: 80px;
    width: 180px;
  }
}
@media (min-width: 430px) and (max-width: 768px) {
  .banner img {
    bottom: 50px;
    left: 250px;
  }
}
@media (min-width: 2000px) {
  .banner img {
    bottom: 200px;
  }
}

.oscar-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.oscar-section img {
  width: 30%;
  height: 30%;
}
.oscar-section h3 {
  background-image: url("./assets/images/orange_characters_bg.png");
  background-size: contain;
}

.slide-in {
  opacity: 0;
  transform: translateY(10px);
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.before.appear {
  transition-delay: 0s;
  opacity: 1;
  transform: translateY(0);
}

.after.appear {
  transition-delay: 0.5s;
  opacity: 1;
  transform: translateY(0);
}

.appear {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fade-in-section {
  from {
    opacity: 0;
    transform: translateY(-180px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in-section-element {
  from {
    opacity: 0;
    transform: translateY(120px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade__in__section {
  opacity: 0;
  animation: fade-in-section 1s ease forwards;
}
.fade__in__section__element {
  opacity: 0;
  transform: translateY(5px); /* Décalage initial vers le bas */
  transition: opacity 0.5s ease;
}

.fade__in__section.appear .fade__in__section__element {
  opacity: 1;
  transform: translateY(0);
  animation: fade-in-section-element 3s ease forwards;
}

/*# sourceMappingURL=style.css.map */
